.shop-container {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  padding: 50px 25px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cart-container {
  background-color: #ddd;
  border-radius: 10px;
}
