.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: rgb(45, 4, 110);
  color: white;
  padding: 0px 30px;
}
.header a {
  text-decoration: none;
  padding: 0px 20px;
  font-size: 20px;
  color: white;
}
